<!-- login.component.html -->

  	  <div class="jumbotron">
        <div class="text-lg-center">
          <h1 class="display-4">Log in</h1>
          <hr class="my-4">
        </div>
      </div>
        <form [formGroup]="loginForm" class="form-login" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Username:</label>
            <input id="username-input" name="username-input" title="username" type="text" class="form-control" formControlName="username" required/>
          </div>
          <div class="form-group">
            <label>Password:</label>
            <input id="password-input" name="password-input" title="password" type="password" class="form-control" formControlName="password" required/>
          </div>
          <button id="login-button" name="login-button" type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">
              <span *ngIf="isLoading" class="spinner-grow spinner-grow-sm"></span>
            Log in
          </button>
          <small><a style="margin-left: 10px" routerLink="/register">Don't have an account yet? Click here!</a></small>
        </form>

        <!-- ALERTS -->
        <p *ngIf="showAlert" class="alert">
            <ngb-alert [type]="alert.type" (close)="closeAlert()">{{ alert.message }}</ngb-alert>
        </p>
