//Rick Hamers 2019-20-11 16:29
//profile.component.scss - provide styles for profile.component

.profile-picture-field {
    width: 300px;
    height: 300px;
    margin-bottom: 5px;
    border: solid 1px;
}