<!-- profile.component.html -->

<div class="container">
    <div class="row">
      <div class="col col-6">
        <h4>Profile</h4>
        <p class="lead">Profile picture:</p>
        <div class="profile-picture-field">
          <img id="preview" [src]="imageSource" alt="" class="profile-picture-src">
        </div>
        <input type="file" name="photo" (change)="previewPhoto($event)" />
        <button type="button" class="btn btn-success btn-s" (click)="uploadProfilePicture($event)" [disabled]="!imageSource">
          Upload image
        </button>
      </div>
      <div class="col col-6">
        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteAccountModal">Delete Account</button>
      </div>
    </div>
  </div>


  <!-- DELETE ACCOUNT MODAL -->
  <div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="deleteAccountModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteAccountModalLongTitle">Delete account: {{ loggedInUsername }}</h5>
          <button type="button" #deleteAccountModal class="close" aria-label="Close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p class="lead">Fill in your username to delete your account</p>
            <form [formGroup]="deleteAccountForm" (ngSubmit)="onSubmitDeleteAccount()">
              <input type="text" formControlName="username" id="username-input"/>
              <button type="submit" [disabled]="!deleteAccountForm.valid" class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
