<!-- advertisement-detail.component -->

    <div class="text-lg-center">
      <h1 *ngIf="isLoading" class="display-4">Loading...</h1>
      <h1 *ngIf="!isLoading" class="display-4">{{advertisement.title}}</h1>
      <span *ngIf="isAdvertisementAuhorLoginName">
        <div class="btn-group">
          <button class="btn btn-danger" (click)="onDelete()">Delete advertisement</button>
          <button class="btn btn-dark" [routerLink]="['/advertisement/detail', advertisement._id]">Edit advertisement</button>
        </div>
      </span>
      <hr class="my-4">
    </div>
    <div class="container" *ngIf="!isLoading">
      <p>{{advertisement.content}}</p>
      <hr class="my-4">
      <small><p>Author: {{advertisement.username}}</p></small>
      <hr class="my-4">
      <div class="col">
        <div class="row" style="margin-bottom: 20px;border: 1px lightgray solid; height: 130px" [ngStyle]="{'margin-left': (comment.depth * 2) + '%', 'width': (100-(comment.depth * 2)) + '%'}" *ngFor="let comment of advertisement.comments">
          <div>
            <div style="margin: 7pt">
              <p class="lead">{{ comment.username }}</p>
              <p>{{ comment.content }}</p>
              <span style="display: inline" *ngIf="(isLoggedIn$ | async)">
                  <a routerLink="/advertisement-comment/{{comment._id}}">reply</a>
                <span>  |  </span>
                    <a *ngIf="comment.username === loggedInUsername && comment.content !== '[deleted]'" routerLink="/updateComment/{{comment._id}}">update/delete</a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-4">
      <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
        <textarea formControlName="comment" cols="100" rows="3"></textarea>
        </div>
        <button type="submit" [disabled]="!commentForm.valid" class="btn btn-primary">Comment</button>
      </form>
    </div>