//Rick Hamers 2019-21-11 10:31
//advertisement-detail.component.scss - provide styles for advertisement-detail.component

.loading-dots {
    top: 195%;
}

.table td  {
    padding: .50rem;
}

.authorImage {
    max-width: 50px;
    max-height: 50px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
}

.authorField {
    display: flex;
}

.authorText {
    
}

.authorName {
    position: relative;
    top: 25%;
    left: 8%;
}