<!-- advertisement-detail.component -->

<!-- TITLEBAR -->
<div class="text-lg-center">
    <h3 *ngIf="isLoading">Loading...</h3>
    <h3 *ngIf="!isLoading">{{advertisement.title}}</h3>
    <span *ngIf="isAdvertisementAuhorLoginName">
      <div class="btn-group">
        <button class="btn btn-danger" (click)="onDelete()">Delete advertisement</button>
        <button class="btn btn-dark" routerLink="/advertisement/detail/{{advertisement._id}}/edit">Edit advertisement</button>
      </div>
    </span>
    <hr class="my-4">
  </div>
  
  <!-- LOADING -->
  <div class="loading-dots" *ngIf="isLoading">
    <div class="spinner-grow" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  
  <!-- AFTER LOADING -->
  <div class="container" *ngIf="!isLoading">
    <div class="row">
  
      <!-- ADVERTISEMENT -->
      <div class="col-11">
        <p>{{advertisement.content}}</p>
      </div>
  
      <!-- BIDDING TABLE-->
      <div class="col-1">
        <div class="bidding-table">
          <form [formGroup]="bidForm" (ngSubmit)="onSubmitBid()">
            <div class="form-group">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let bid of advertisement.bids">  
                    <td>
                      <small>
                        <p *ngIf="isBiddingTableLoading">Loading...</p>
                        <p *ngIf="!isBiddingTableLoading">{{bid.username}}</p>
                      </small>
                    </td>
                    <td>
                      <span *ngIf="isBiddingTableLoading" class="spinner-grow" role="status"></span>
                      <small>
                        <p *ngIf="!isBiddingTableLoading">{{bid.amount}}</p>
                      </small>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="number" placeholder="amount" formControlName="bidAmount" id="bid-input">
                    </td>
                    <td>
                      <button [disabled]="!bidForm.valid" type="submit" class="btn btn-secondary">
                        <span *ngIf="isBiddingTableSubmitLoading" class="spinner-grow spinner-grow-sm"></span>
                        submit
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-12">
        <hr class="my-4">
        <small>
          <p>Author: {{advertisement.username}}</p>
        </small>
        <hr class="my-4">
      </div>
    </div>
  
  
  
    <!-- COMMENTS -->
    <div class="col-12">
      <h5>Comments</h5>
      <div class="row" style="margin-bottom: 20px;border: 1px lightgray solid; height: 130px" [ngStyle]="{'margin-left': (comment.depth * 2) + '%', 'width': (100-(comment.depth * 2)) + '%'}" *ngFor="let comment of advertisement.comments">
        <div>
          <div style="margin: 7pt">
            <p class="lead">{{ comment.username }}</p>
            <p>{{ comment.content }}</p>
            <span style="display: inline" *ngIf="(isLoggedIn$ | async)">
              <a type="link" href="event.preventDefault()" data-toggle="modal" data-target="#replyModal" (click)="openModal(comment)">Reply</a>
              <span> | </span>
              <a *ngIf="comment.username === loggedInUsername && comment.content !== '[deleted]'" type="link" href="event.preventDefault()" data-toggle="modal" data-target="#updateModal" (click)="openModal(comment)">Update/Delete</a>
            </span>
          </div>
        </div>
  
        <!-- REPLY COMMENT MODAL -->
        <div *ngIf="selectedComment != undefined" class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="replyModal" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="replyModalLongTitle">Reply to {{selectedComment.username}}'s comment</h5>
                <button type="button" #replyModal class="close" aria-label="Close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div bordered>
                  <h6>Comment:</h6>
                  <small>
                    <p>"{{selectedComment.content}}"</p>
                  </small>
                </div>
                <h6>Reply:</h6>
                <form [formGroup]="replyCommentForm" (ngSubmit)="onSubmitReplyComment(advertisement._id, selectedComment._id)">
                  <textarea formControlName="comment" id="" cols="63" rows="3"></textarea>
                  <button type="submit" [disabled]="!replyCommentForm.valid" class="btn btn-primary">Reply</button>
                </form>
              </div>
            </div>
          </div>
        </div>
  
        <!-- UPDATE/DELETE COMMENT MODAL -->
        <div *ngIf="selectedComment != undefined" class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModal" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="updateModalLongTitle">Edit comment</h5>
                <button type="button" #updateModal class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div bordered>
                  <h6>Original comment:</h6>
                  <small>
                    <p>"{{selectedComment.content}}"</p>
                  </small>
                </div>
                <h6>Update:</h6>
                <form [formGroup]="updateCommentForm" (ngSubmit)="onSubmitUpdateComment(selectedComment._id)">
                  <textarea formControlName="comment" id="sd" cols="63" rows="3"></textarea>
                  <div class="btn-group" role="group">
                    <button type="submit" [disabled]="!updateCommentForm.valid" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-danger" (click)="onDeleteComment(selectedComment._id)">Delete</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- EMPTY COMMENTS -->
      <div *ngIf="isEmptyComments" class="col-12">
        <div class="row">
          <p class="lead">This advertisement doesn't have any comments yet.</p>
        </div>
      </div>
    </div>
  
    <!-- NEW COMMENT FORM --->
    <hr class="my-4">
    <form [formGroup]="commentForm" (ngSubmit)="onSubmitAdvertisementComment()">
      <div class="form-group">
        <textarea formControlName="comment" cols="100" rows="3"></textarea>
      </div>
      <button type="submit" [disabled]="!commentForm.valid" class="btn btn-primary">Comment</button>
    </form>
  </div>
  