<!-- navigation-menu.component.html -->

<div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Zolderopruiming</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Menu</p>
                <li>
                    <a routerLink="login">Login</a>
                </li>     
                <li>
                    <a routerLink="advertisement">Home</a>
                </li>
                <li>
                    <a routerLink="not-found">placeholder</a>
                </li>
                <li>
                    <a routerLink="about">About</a>
                </li>
            </ul>
            <ul class="list-unstyled CTAs" *ngIf="isLoggedIn$ | async">
                <li><a href="javascript:void(0)" (click)="onLogout()" class="logout">Log out</a></li>
            </ul>
        </nav>






