
.jumbotron {
    background-image: url('src/assets/img/marble-pattern-banner.jpeg')
}

.form-login {
    max-width: 20%;
    position: relative;
    left: 41%;
}

.alert {
    position: absolute;
    top: 98%;
    left: 30%;
}