<!-- navigation-menu.component.html -->
<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>CSWP-Angular</h3>
        </div>
        <ul class="list-unstyled components">
            <li>
                <a routerLink="login">Home</a>
            </li>   
            <li>
                <a routerLink="about">About</a>
            </li>
            <li>
                    <a routerLink="not-found">404</a>
            </li>
        </ul>
    </nav>
</div>

