/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";

//Custom loader
.loading-dots {
    position: absolute;
    left: 47%;
    top: 58%;
}

