//Rick Hamers 2019-11-19 13:41
//change-password.component.scss - provide styles for change-password.component

.form-password {
    max-width: 300px;
    position: relative;
    left: 41%;
}

.alert {
    position: absolute;
    top: 98%;
    left: 44%;
}