<!-- change-password.component.html -->

<div class="form-password">
    <p class="lead">Change your password here</p>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Old password:</label>
        <input title="oldPassword" type="password" class="form-control" formControlName="oldPassword" required>
      </div>
      <div class="form-group">
        <label>New password:</label>
        <input title="newPassword" type="password" class="form-control" formControlName="newPassword" required>
      </div>
      <button type="submit" [disabled]="!passwordForm.valid" class="btn btn-danger">Change password</button>
    </form>
  </div>

      <!-- ALERTS -->
      <p *ngIf="showAlert" class="alert">
          <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
      </p>